<div class="course">
    <h1>{{course.title}}</h1>

    {{!--  <img src="{{course.img}}" alt="{{course.title}}"> --}}

    <p class="course_text">{{{course.img}}}</p>
    <a href="/courses/{{course.id}}/edit?allow=true">Редактировать</a>
    <p class="price big">{{course.price}}</p>


</div>