<nav class="nav_bar">
  <div class="nav-wrapper">
    <img class="loga"  src="https://www.python.org/static/img/python-logo.png">
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      {{#if isHome}}
      <li class="active"><a href="/">Главная</a></li>
      {{else}}
      <li><a href="/">Главная</a></li>
      {{/if}}
      {{#if isCourses}}
      <li class="active"><a href="/courses">Курсы</a></li>
      {{else}}
      <li><a href="/courses">Курсы</a></li>
      {{/if}}
      {{#if isAdd}}
      <li class="active"><a href="/add">Добавить курс</a></li>
      {{else}}
      <li><a href="/add">Добавить курс</a></li>
      {{/if}}
      {{!--   {{#if isCard}}
      <li class="active"><a href="/card">Корзина</a></li>
      {{else}}
      <li><a href="/card">Корзина</a></li>
      {{/if}} --}}
       {{#if isTask}}
      <li class="active"><a href="/tasks">Задачи</a></li>
      {{else}}
      <li><a href="/tasks">Задачи</a></li>
      {{/if}}
    </ul>
  </div>
</nav>